<div id="resource-list-item-input" class="list-group-item">
  <div class="row">
    <div id="new-resource-input-list" class="col-xs-12">
      <input id="new-resource-input-title" type="text" class="form-control" placeholder="Add a title"/><!-- {{}}</input> -->
      
<!--
			<div class="wmd-panel">
            <div id="wmd-button-bar"></div>
	          <textarea class="wmd-input" id="wmd-input">
						</textarea>
        </div> -->


      <textarea id="new-resource-input-text" type="text" class="form-control" rows="2" placeholder="Add a description"/></textarea>
      <!-- <input id="new-resource-input-text" type="text" class="form-control" placeholder="Add a description"/> -->
      <input id="new-resource-input-url" type="text" class="form-control" placeholder="Add a url"/>
    </div>
    <div class="col-xs-12" style="display:inline;">
    	<button id="new-resource-done-button" class="btn btn-default" onclick="createSubResource()">Done</button>
    	<!-- <button id="new-resource-link-topic"  class="btn btn-default" onclick="createSubResource()">Add another resource</button> -->
  	</div>
	</div>
</div>