<div id="resource-list-item-input" class="list-group-item">
  <div class="row">
    <div id="new-resource-input-list" class="col-xs-12">
      <input id="new-resource-input-title" type="text" class="form-control" placeholder="Add a title"/>
      <input id="new-resource-input-text" type="text" class="form-control" placeholder="Add a description"/>
      <input id="new-resource-input-url" type="text" class="form-control" placeholder="Add a url"/>
    </div>
    <button id="new-resource-done-button" class="btn btn-default" onclick="createSubResource()">Done</button>
  </div>
</div>