<div id="resource-list-item-{{resource.id}}" class="list-group-item">
  <div class="row">
    <div class="col-xs-10">
      <h5><a href="/resources/{{ resource.id }}" style="">{{resource.title}}</a></h5>
      {% if resource.preview == None %}

        <p>This resource has no description</p>

      {% else %}

      <!-- {% autoescape off %}{{ resource.preview }}{% endautoescape %} -->
      <p>{{resource.preview}}</p>

      {% endif %}

      {% if resource.url != None %}

        <p><a href="{{ resource.url }}" target="_blank">{{resource.url}}</a></p>

      {% endif %}
    </div>
    <div class="col-xs-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height:44px!important width:44px!important">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Move</a></li>
          <li><a href="#" class="resource-delete-button" id="delete-button-{{resource.id}}" style="color:red" onclick="deleteResource(this)" resource-id="{{ resource.id }}" > <!-- onclick="deleteResource(this)"  -->
            Delete</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul><!-- dropdown menu -->
      </div><!-- button-group -->
    </div>
    <div class="col-xs-1">
      <div class="btn-group">
        <button resource-id="{{ resource.id }}" type="button" class="btn btn-default" onclick="upvote(this)" data-toggle="dropdown" aria-expanded="false" style="height:44px!important width:44px!important">
          <span id="upvote-span" class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </div>

      <h5 style="text-align:center;">{{ resource.rating }}</h5>
      
      <div class="btn-group">
        <button resource-id="{{ resource.id }}" type="button" class="btn btn-default" onclick="downvote(this)" data-toggle="dropdown" aria-expanded="false" style="height:44px!important width:44px!important">
          <span id="upvote-span" class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>
    </div>
  </div>  <!-- row -->
</div>  <!-- resource-list-group-item -->