<form id="new-resource-form" action="/resources/create/{{resource.id}}" method="POST">
	{% csrf_token %}
	{% if new_resource_form.errors %}
		{% for error in new_resource_form.errors %}
			<div class="alert alert-danger"><p>{{error}}</p></div>
		{% endfor %}
	{% endif %}
	{{new_resource_form}}
	<input type="hidden" name="current_resource_id" value="{{resource.id}}"/>
	{% if resource != None %}
	<button id="new-resource-submit-button" class="submit-button" type="submit">Save in {% if resource.title|length > 20 %}{{ resource.title|truncatechars:20 }}...{%else%}{{resource.title}}{%endif%}</button>
	{% endif %}
	<button id="new-resource-home-submit-button" class="submit-button">Save in Home</button>
</form>