<div class="col-xs-6">
	<div class="row">
		<div class="col-xs-10">
			<h4><a href="/resources/{{ resource.id }}">{{resource.title}}</a></h4>
			{% if resource.url != None %}
        		<p><a href="{{ resource.url }}" target="_blank">{{resource.display_url}}</a></p>
      		{% endif %}
			<p>{{resource.preview}}</p>
		</div>

		<div class="col-xs-2">
	      <div class="btn-group">
	        <button type="button" class="btn btn-default dropdown-toggle" style="outline:none" data-toggle="dropdown" aria-expanded="false">
	          <span class="glyphicon glyphicon-chevron-down"></span>
	        </button>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="#">Edit</a></li>
	          <li><a href="#">Move</a></li>
	          <li><a href="#" class="resource-delete-button" id="delete-button-{{resource.id}}" style="color:red" onclick="deleteResource(this)" resource-id="{{ resource.id }}" > <!-- onclick="deleteResource(this)"  -->
	            Delete</a></li>
	          <li class="divider"></li>
	          <li><a href="#">Separated link</a></li>
	        </ul><!-- dropdown menu -->
	      </div><!-- button-group -->
	      <button type="button" class="btn btn-default dropdown-toggle" style="outline:none" data-toggle="dropdown" aria-expanded="false">
	      	<span class="glyphicon glyphicon-star-empty"></span>
	      </button>
	    </div>
	</div>
</div>