<div class="col-xs-6">
	<div class="resource-card">
		<div class="col-xs-1">
			<h4><span class="glyphicon glyphicon-star{%if not user_relation.starred%}-empty{%endif%} star-button {%if not user_relation.starred%}star-button-empty{%endif%}" checked="{%if not user_relation.starred%}0{%else%}1{%endif%}" resource-id="{{ resource.id }}"></span><h4>
	  </div>
	  <div class="col-xs-10">
			<h4><a href="/resources/{{ resource.id }}">{{resource.title}}</a></h4>
			{% if resource.url != None %}
	  	<a href="{{ resource.url }}" target="_blank">{% if resource.display_url != None %}{{resource.display_url}}{% else %}{{resource.url}}{% endif %}</a>
			{% endif %}
			<p>{{resource.preview}}</p>
		</div>
		<div class="col-xs-1">
			<div class="btn-group pull-right">
	      <button type="button" class="flat" data-toggle="dropdown" aria-expanded="false">
	        <span class="glyphicon glyphicon-chevron-down"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="#">Edit</a></li>
	        <li><a href="#">Move</a></li>
	        <li><a href="#" class="resource-delete-button" id="delete-button-{{resource.id}}" style="color:red" onclick="deleteResource(this)" resource-id="{{ resource.id }}" > <!-- onclick="deleteResource(this)"  -->
	          {% if resource.author == user_relation.user %}Delete{% else %}This doesn't belong here{%endif%}</a></li>
	      </ul><!-- dropdown menu -->
	  	</div><!-- button-group -->
		</div>
	</div><!-- row resource-card -->
</div> <!-- col-xs-6 -->
