{% extends "base.html" %}

{% block content %}
{% load extra_tags %}

<div class="container" style="background-color:#EEE">
  <div class="row">
    <div class="col-xs-8">
      <h1>{{resource.title}}</h1>
      {% if resource.url != None %}
        <p id="url-content"><a href="{{ resource.url }}" target="_blank">{{ resource.url }}</a></p>
      {% endif %}
      {% if resource.text != None %}{% autoescape off %}{{ resource.text }}{% endautoescape %}{% endif %}
    </div>
    <div class="col-xs-4" style="background-color:#F7F7F7">
      <h3>Related Topics</h3>
      <p>One</p>
      <p>Two</p>
      <p>Three</p>
    </div>
  </div>
  <div class="row">
    {% for resource in resource_list %}
      {% include 'sodata/newlist_item.html' with resource=resource user_relation=user_relations|get_item:resource.id %}
    {% endfor %}
  </div>
  <div class="row">
    <h2>Recommended</h2>
    {% for resource in external_search_results %}
        {% include 'sodata/newlist_item.html' with resource=resource %}
    {% endfor %}
  </div>
</div>

{% endblock %}