{% extends "base.html" %}

{% block content %}
{% load extra_tags %}

<div id="content-container" class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>{{resource.title}}</h1>   
      {% if resource.url != None %}
      <p id="url-content"><a href="{{ resource.url }}" target="_blank">{{ resource.url }}</a></p>
      {% endif %}
      <p>{% if resource.text != None %}{{ resource.text }}{%else%}This resource has no description. <a href="/resources/{{resource.id}}/edit">Add one now!</a>{% endif %}</p> 
    </div>
    <div class="col-xs-4">
      <div class="row btn-group btn-group-justified pull-right" role="group">
        <button class="flat"><span class="glyphicon glyphicon-star{%if not user_relation.starred%}-empty{%endif%} star-button {%if not user_relation.starred%}star-button-empty{%endif%}" starred="{%if not user_relation.starred%}0{%else%}1{%endif%}" resource-id="{{ resource.id }}"></span><button>
        <form action="/resources/{{resource.id}}/edit">
          <button class="flat" type="submit">Edit</button>
        </form>
        <div class="btn-group pull-right">
          <button type="button" class="flat" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/resources/delete/{{resource.id}}" style="color:red">Delete</a></li>
          </ul>
        </div>
      <div class="row" style="background-color:#F7F7F7">
        <h4>Author</h4>
        <p>{{resource.author.username}}</p>
        <h4>Related Topics</h4>
        <p>One</p>
        <p>Two</p>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Pinned</h3>
    {% include 'sodata/paginated.html' with resource_list=resource_list user_relations=user_relations page_number=1 parent=resource%}
  </div>
  <div class="row" id="recommended-container" next-page-number="2">
  <!--  Put page 1 here automatically -->
    <h3>Recommended</h3>
    {% include 'sodata/paginated.html' with resource_list=recommended_resources user_relations=recommended_relations page_number=1 parent=resource%}
  </div>
  <div class="row">
    <p style="text-align:center"><a id="paginate-button">show more recommendations</a></p>
  </div>
</div>

{% endblock %}