@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  font-family: 'Roboto', sans-serif;
}


#main-container {
	max-width: 1000px
}

div.body-list {

	/*display:inline-block;*/
} 

div.body-list div.list-group-item {

	/*display:inline-block;*/	
	height:100%;
	min-height:100px;
}

li.input-list-item {
	display: inline-block;
	padding-right: 10px;
}

#new-resource-input-button {
	border:None;
}


/*  wrap text url */ 
a.list-item-url {
	word-wrap: break-word;
}




/* borderless buttons */
.flat {
	display: inline-block;
    border: none;
    background: none;
    padding:none;
    /*padding: 5px 5px;*/
}
.flat:focus {outline:none;} 
.flat::-moz-focus-inner {border:0;}

.star-button span {
    color:#FFCC00;
}
.star-button-empty span {
    color:#646464;
}

.flat label input {
	position: absolute;
	opacity: 0;
}

.resource-card {
	background-color: white;
	border-bottom: 1px solid #AAA;
/*	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;*/
}




#new-resource-form {
	width: 400px;
	border-width: 5px;
}
.flat-input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #fff;

    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    
    border-left-style: none;
    border-color:#ccc;
    border-width: 1px;
}

.submit-button {
	color: white;
	text-align: center;
	width: 100%;
	border: 1px solid #EEEEEE;
	height: 40px;
	margin-top: 3px;
}

#new-resource-submit-button  {
	background-color: #1D62F0;
}
#new-resource-home-submit-button  {
	background-color: #1AD6FD;
}



.well {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display:none;
    margin:1em;
}