{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CSTopics Login</title>

  <!-- <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'> -->
  <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login.css' %}" media="screen" type="text/css" />
  

</head>

<body>

  <div class="login-card">
    <h1>Log-in</h1><br>

  {% if registered %}
  <div class="alert alert-success"></h4>You have successfully created an account. You may now log in.</h4></div>
  {% endif %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        {{error|escape}}
      {%endfor%}
    </div>
  {% endif%}
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    {% for field in form %}
      {% if field.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for error in field.errors %}
              <li>{{error|escape}}</li>
            {%endfor%}
          </ul>
        </div>
      {% endif %}
      {{ field.label_tag }} {{ field }}
    {% endfor %}

    <input type="submit" class="login login-submit" value="Log in" />
    <input type="hidden" name="registered" value="{{ registered }}" /> 
    <!-- What is this for again? Something about redirects and multiple login tries... -->
    <!-- Search docs for @login_required decorator -->
  </form>

  <div class="login-help">
    <a href="{% url 'register' %}">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

<!-- <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script> -->

</body>

</html>